.promptBox{
    background-color: #EBFFFC; 
    border: 2px #05C9DB dashed; 
    border-radius: 6px; 
    padding: 30px; 
    margin: 15px; 
    text-align:center;
}

.infoBox{
    background-color: #F3F3F3;
    border: 2px #575757 dashed;
    border-radius: 6px; 
    padding: 30px; 
    margin: 15px; 
    text-align:center;
}

.infoBoxSearchBar{
    background-color: #e7e7e7;
    border: 2px #575757 dashed;
    border-radius: 6px; 
    padding: 10px; 
    margin-top: 15px; 
    text-align: center; 
}

.unavailableFieldsContainer{
    background-color: #EBFFFC;
    border: 2px #575757 dashed;
    border-radius: 6px; 
    padding: 8px; 
    margin-bottom: 15px !important;
    margin: 0px 3px 0px 3px;
}

.fieldContainer{
    border: 1px solid #C9C9C9; 
    border-radius: 6px; 
    padding: 8px;
    background-color: #fdfdfd;
}

.fieldContainer:hover{
    background-color: #EBFFFC;
    border-color: #86FBE9;
}

.unavailableFieldContainer{
    border: 1px solid #575757; 
    border-radius: 6px; 
    padding: 8px;
    background-color: #F3F3F3;
}

.unavailableFieldContainer:hover{
    border: 3px solid #800000;
}

.removeFieldButton{
    --slds-c-icon-color-foreground:rgb(128, 0, 0); 
}

.objectContainer{
    border: 1px solid #C9C9C9; 
    border-radius: 6px; 
    padding: 8px;
    margin: 5px;
    background-color: #fdfdfd;
}

.objectContainer:hover{
    background-color: #EBFFFC;
    border-color: #86FBE9;
    cursor: pointer;
}

.statContainer{
    background-color: white;
    border: 1px white solid;
    border-radius: 6px; 
    padding: 6px 10px 6px 10px; 
    text-align: center; 
}

.slds-modal__content{
    overflow: initial;
}

:host {
    --lwc-squareIconMediumContentAlt: 18px;
    --lwc-squareIconMediumContentAlt: 18px;
}


/* BUTTON STYLING / BRANDING */

.mintButton_Standard{
    background-color: white;
    color: #05C9DB;
    border: 1px solid #747474;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}
.mintButton_Standard:hover{
    background-color: #F3F3F3;
    border: 1px solid #05C9DB;
}

.mintButton_Standard-Fill{
    background-color: #05C9DB;
    color: white;
    border: 1px solid #747474;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}
.mintButton_Standard-Fill:hover{
    background-color: #003867;
    color: white;
}

.mintButton_Neutral{
    background-color: white;
    color: #003867;
    border: 1px solid #747474;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}
.mintButton_Neutral:hover{
    background-color: #F3F3F3;
    border: 1px solid #003867;
}

.mintButton_Destructive{
    background-color: white;
    color: #8E030F;
    border: 1px solid #747474;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}
.mintButton_Destructive:hover{
    background-color: #F3F3F3;
    border: 1px solid #8E030F;
}