.HardAlert, .SoftAlert, .HardPrompt, .SoftPrompt, .SubtlePrompt, .Info, .noAlerts {
    border-radius: 4px;
    border: #C9C9C9 1px solid !important;
}

.HardAlert {
    background-color: rgb(211, 89, 89);
}

.SoftAlert {
    background-color: rgb(233, 170, 76);
}

.HardPrompt {
    background-color: rgb(211, 89, 89);
}

.SoftPrompt {
    background-color: rgb(233, 170, 76);
}

.SubtlePrompt {
    background-color: rgb(236, 213, 162);
}

.Info {
    background-color: rgb(211, 211, 211);
}

.darkIcon {
    --lwc-colorTextIconDefault: rgb(31, 31, 31);
}

.noAlerts {
    background-color: rgb(86, 180, 98);
}