.slds-scrollable_y {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
}

.slds-scrollable_y lightning-datatable {
    display: block;
}

.slds-scrollable_y lightning-datatable thead th {
    position: sticky;
    top: 0;
    background: white; /* Ensure the header has a background color */
    z-index: 1; /* Ensure the header stays on top */
}

.promptBox{
    background-color: #EBFFFC; 
    border: 2px #05C9DB dashed; 
    border-radius: 6px; 
    padding: 15px; 
    margin: 15px; 
    text-align:center;
}